<% if mobile_device == "mobile" %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:27px;">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:180px;">
                                        <input type="text" placeholder="District" class="btn-group2"style="width:180px;">
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% end %>

<br>

<div class="center" style="text-align:center;">
  <h3>Furniture Kitchen Stores Home Decor</h3>
</div>





<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
     <img src="../assets/k1.jpg" style="height:100px; width:100px; text-align: center;" alt="Park">
     <figcaption><b>Furnitures</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/k2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Utensil Shops</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/k3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Kitchen Appliances</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align: center;">
     <img src="../assets/k4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Carpet</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px; text-align: center;">
      <img src="../assets/k5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Wallpaper</b></figcaption>
    </div>      
    </div>
  </div>
</div>













