<br>
<br>
<br>



<div class="center" style="text-align:center;">
  <h3>Party</h3>
</div>

<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
     <img src="../assets/s1.jpg" style="height:100px; width:100px; text-align: center;" alt="Park">
     <figcaption><b>Banquet Halls</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/s2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Caterers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/s3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Hire DJ</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
     <img src="../assets/s4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Events Organisers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/s5.jpg" style="height:100px; width:100px;" alt="Park">
    <figcaption><b>Photographers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/g8.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Fruits</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
     <img src="../assets/s6.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Children Party Organiser</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/s7.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Singers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/g7.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Vegetables</b></figcaption>
    </div>
  </div>
</div>
<br>

<hr>

<div class="center" style="text-align:center;">
  <h3>Wedding</h3>
</div>

<hr>


<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
     <img src="../assets/s1.jpg" style="height:100px; width:100px;" alt="Park">
    <figcaption><b>Banquet Halls</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/m2.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Bridal Requisites</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/s2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Caterers</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
     <img src="../assets/m4.jpg" style="height:100px; width:100px;" alt="Park">
    <figcaption><b>Florists</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/m3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Jwellery</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/m5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Matrimonial Bureaus</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
     <img src="../assets/s5.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Photographers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/m6.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Wedding Cards</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;  text-align: center;">
      <img src="../assets/m5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Wedding Planners</b></figcaption>
    </div>
  </div>
</div>