<br>
<br>
<br>



             <h2 style="text-align:center;"><b>Furniture</b></h2>
      
       <ul>
        <hr>
                  <li><a href="#"><img src="/assetsf1/.png" alt="img01"/><span style="font-size: 20px; padding-left:20px;">Plywood</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f2.png" alt="img02"/><span style="font-size: 20px; padding-left:20px;">Chairs</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f3.png" alt="img03"/><span style="font-size: 20px; padding-left:20px;">Tables</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f4.png" alt="img04"/><span style="font-size: 20px; padding-left:20px;">Wooden Flooring</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f5.png" alt="img05"/><span style="font-size: 20px; padding-left:20px;">Carpets</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f6.png" alt="img06"/><span style="font-size: 20px; padding-left:20px;">Beds</span></a></li>
                


                <hr>
                  <li><a href="#"><img src="/assets/f7.png" alt="img01"/><span style="font-size: 20px; padding-left:20px;">Door Handles</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f8.png" alt="img02"/><span style="font-size: 20px; padding-left:20px;">Matresses</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f9.png" alt="img03"/><span style="font-size: 20px; padding-left:20px;">Bedsheets</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f10.png" alt="img04"/><span style="font-size: 20px; padding-left:20px;">Blankets</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f11.png" alt="img05"/><span style="font-size: 20px; padding-left:20px;">Solid Surfaces</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f12.png" alt="img06"/><span style="font-size: 20px; padding-left:20px;">Computer Cases</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f14.png" alt="img05"/><span style="font-size: 20px; padding-left:20px;">Cupboards</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f15.png" alt="img06"/><span style="font-size: 20px; padding-left:20px;">Sofas</span></a></li>
             
            
         </ul>


    <footer class="main-block dark-bg" style="padding-bottom:30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy; 2019  Nearclick. All rights reserved. </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <ul>
                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                            <li><a href="#"><span class="ti-instagram"></span></a></li>
                        </ul>

                        <ul>
                         <li class="nav-item active">
                                        <a class="nav-link" style="font-size:30px; font-weight:700; color:#ffffff" href="/welcome/about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="font-size:30px; font-weight:700; color:#ffffff" href="/welcome/contact">Contact</a>
                                    </li>

                                </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
    <script src="/assets/cbpHorizontalSlideOutMenu.min.js"></script>
    <script>
      var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
    </script>
  </body>
</html>