<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blueprint: Horizontal Slide Out Menu</title>
    <meta name="description" content="Blueprint: Horizontal Slide Out Menu" />
    <meta name="keywords" content="horizontal, slide out, menu, navigation, responsive, javascript, images, grid" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/component.css" />
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/assets/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/modernizr.custom.js"></script>
  </head>
<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<div class="dark-bg sticky-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                            <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; </span>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/fashion">Fashion</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/electronics">Electronics</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/furniture">Furniture</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/kitchen">Kitchen</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/grocery">Grocery</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/restraunts">Retraunts</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/events">Events</a>
                                    </li>
                                    
                                   
                                    <% if user_signed_in? %>
                                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light top-btn" %></li>
                                    <% else %>
                                    <li><a href="/users/sign_in" class="btn btn-outline-light top-btn">SignUp/SignIn</a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="navbar-brand" style="text-align:center;" href="/">NearClick</a>
  <br>
  <% if user_signed_in? %>
  <p style="text-align:center;">Welcome <%= current_user.username %></p>
  <% else %>
  <p style="text-align:center;">Welcome Guest</p>
  <% end %>
  <% if current_user&.shop %>
  <a href="#">Add Product</a>
  <%= link_to 'Manage Shop', current_user.shop %>
  <% else %>
  <a href="#"><span>0</span> Your Cart</a>
  <a href="#">Wishlist</a>
  <% end %>
  <a href="/welcome/about">About</a>
  <a href="/welcome/contact">Contact</a>
</div>



             <h2 style="text-align:center;"><b>Furniture</b></h2>
      
       <ul>
        <hr>
                  <li><a href="#"><img src="/assetsf1/.png" alt="img01"/><span style="font-size: 20px; padding-left:20px;">Plywood</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f2.png" alt="img02"/><span style="font-size: 20px; padding-left:20px;">Chairs</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f3.png" alt="img03"/><span style="font-size: 20px; padding-left:20px;">Tables</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f4.png" alt="img04"/><span style="font-size: 20px; padding-left:20px;">Wooden Flooring</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f5.png" alt="img05"/><span style="font-size: 20px; padding-left:20px;">Carpets</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f6.png" alt="img06"/><span style="font-size: 20px; padding-left:20px;">Beds</span></a></li>
                


                <hr>
                  <li><a href="#"><img src="/assets/f7.png" alt="img01"/><span style="font-size: 20px; padding-left:20px;">Door Handles</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f8.png" alt="img02"/><span style="font-size: 20px; padding-left:20px;">Matresses</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f9.png" alt="img03"/><span style="font-size: 20px; padding-left:20px;">Bedsheets</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f10.png" alt="img04"/><span style="font-size: 20px; padding-left:20px;">Blankets</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f11.png" alt="img05"/><span style="font-size: 20px; padding-left:20px;">Solid Surfaces</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f12.png" alt="img06"/><span style="font-size: 20px; padding-left:20px;">Computer Cases</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f14.png" alt="img05"/><span style="font-size: 20px; padding-left:20px;">Cupboards</span></a></li>
                  <hr>
                  <li><a href="#"><img src="/assets/f15.png" alt="img06"/><span style="font-size: 20px; padding-left:20px;">Sofas</span></a></li>
             
            
         </ul>


    <footer class="main-block dark-bg" style="padding-bottom:30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy; 2019  Nearclick. All rights reserved. </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <ul>
                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                            <li><a href="#"><span class="ti-instagram"></span></a></li>
                        </ul>

                        <ul>
                         <li class="nav-item active">
                                        <a class="nav-link" style="font-size:30px; font-weight:700; color:#ffffff" href="/welcome/about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="font-size:30px; font-weight:700; color:#ffffff" href="/welcome/contact">Contact</a>
                                    </li>

                                </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
    <script src="/assets/cbpHorizontalSlideOutMenu.min.js"></script>
    <script>
      var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
    </script>
  </body>
</html>