<br>
<br>
<br>

<div class="center" style="text-align:center;">
  <h3>Grocery & Veg</h3>
</div>


<div class="container" style="background-color:#fff; text-align:center;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;">
     <img src="../assets/g1.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Beverages</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/g2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Snacks</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/g3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Breakfast Items</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/g4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Lunch Items</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/g5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Dairy Items</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/g6.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Frozen Food</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/g7.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Vegetables</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/g8.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Fruits</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/g9.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Household Needs</b></figcaption>
    </div>
  </div>
</div>


