



<% if mobile_device == "mobile" %>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Listing &amp; Directory Website Template</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/assets/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>









<body>
  <div class="modal" id="myModaltw">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Health Beauty & Babycare</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Makeup
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Lips</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Face</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Nails</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Kits</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Tools</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Skin
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Facewash</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Toner</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Cleaner</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Sunscream</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Bleach</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Body Oil</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Scrubs</a>
              <a class="dropdown-item" style="color: #fff;" href="#">HandWash</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Hair Remover</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hair
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Shampoo</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Conditioner</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Serum</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Gels</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sprey</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Colour</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Brushes</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Dryer</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Straightner Roller</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shaving
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Razors</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Shavers</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Cream</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Brushes</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Pre & Post</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Moustach Care</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Men's Creame</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fragnence
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Deodrents</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Body Mist</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Perfume</a>
        </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Baby Care
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Baby Food</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Boys Cloth</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Girls Cloth</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Baby Shoes</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Boys Soap</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Baby Oil</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Baby Cream</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Boys Gear</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Diapers</a>
          <a class="dropdown-item" style="color: #fff;" href="#">School Kits</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Lunch Box</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Water Bottle</a>
          <a class="dropdown-item" style="color: #fff;" href="#">School Bags</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Toys</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Birthday Gifts</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Bed Protectors</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Potty Chairs</a>
        </div>
          </li>






          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Health Care
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Oral Care</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Suppliments</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sanitary Pads</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Weight Management</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sexual Wellness</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Stimulants</a>
        </div>
          </li>













          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sports
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Fitness Equipments</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Running</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Swimming</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Yoga</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Cycling</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Tennis</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Badminton</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Squash</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Table Tennis</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Cricket Football</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Volley Ball</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Basket Ball</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Hockey</a>
        </div>
          </li>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>

































  <div class="modal" id="myModalth">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Furniture & Homecare</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Room
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Sofa</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Plastic Chair</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Wooden Chair</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Folding Chair</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Stools</a>


              <a class="dropdown-item" style="color: #fff;" href="#">Coffee Table</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Dining Table</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Study Table</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Office Table</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Side Table</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Dressing Table</a>



              <a class="dropdown-item" style="color: #fff;" href="#">Queen Size Bed</a>
              <a class="dropdown-item" style="color: #fff;" href="#">King Size Bed</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Single Bed</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Almirah</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Storage Cabinet</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Selves</a>


              <a class="dropdown-item" style="color: #fff;" href="#">Bean Bag</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Shoe Rack</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bedding
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Matress Singel</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Matress Double</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Matress Protecter</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Bedsheet</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Bed Cover</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Blanket</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Pillow</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Chushion</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home Decor
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Pooja Special</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Window Curtain</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Door Curtain</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Door Mat</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Towel</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Idols</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Painting</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Photo Frame</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Vases</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Planrs</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Flower Posts</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kitchen
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Cooker</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Kadhai</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Gas Stove</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Tawa</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Roti Maker</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Cooking Tools</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Frying Pan</a>

          <a class="dropdown-item" style="color: #fff;" href="#">Containers</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Casseroies</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Kitchen Organiser</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Chopping Board</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Apron</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Gloves</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Table Mats</a>

          <a class="dropdown-item" style="color: #fff;" href="#">Scrubber</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Mobs</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Dustbin</a>
        </div>
          </li>



<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Homecare
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Cleaning Tools</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Detergents</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Disposables</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Bathroom Cleaners</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Toilet Cleaners</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Freshners</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Shoecare</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Home Cleaning</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Domestic Help</a>
        </div>
          </li>

          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>










































   <div class="modal" id="myModalfo">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Fashion</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Women's Clothing
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Saree</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Kurta/Kurti</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Salwar Suit</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Blouse</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Shirt</a>


              <a class="dropdown-item" style="color: #fff;" href="#">Top</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Dupatta</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Leggings</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Jeans</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Trousers</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Joggers</a>



              <a class="dropdown-item" style="color: #fff;" href="#">Caps</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Shorts</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Lingerie</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Men's Clothing
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Shirt</a>
              <a class="dropdown-item" style="color: #fff;" href="#">T-Shirt</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Sweatshirt</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Coat</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Blazer</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Tie</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Jeans</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Trouser</a>


              <a class="dropdown-item" style="color: #fff;" href="#">Jogger</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Loungwear</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Short</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Underwear</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Socks</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bags
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Handbag</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Shoulderbag</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Travel Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Tote Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sling Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Shipping Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Messenger Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Clutches</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Wallet</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Pouches</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Watches
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Womens</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Mens</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sport</a>
        </div>
          </li>
          <li><a href="#" style="color: #000;">Eye Glass</a></li>
          <li><a href="#" style="color: #000;">Sunglasses</a></li>
          <li><a href="#" style="color: #000;">Caps</a></li>

<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Women's Footwear
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Heals</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sandels</a>
          <a class="dropdown-item" style="color: #fff;" href="#">FlipFLops</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Slippers</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sposts Shoes</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Mojaris</a>

          <a class="dropdown-item" style="color: #fff;" href="#">Flats</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Wedgs</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Boots</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Socks</a>
        </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mean's Footwear
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Casuals</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sandels</a>
          <a class="dropdown-item" style="color: #fff;" href="#">FlipFLops</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Slippers</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Sposts Shoes</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Formals</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Socks</a>
        </div>
          </li>



          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>



































   <div class="modal" id="myModalfi">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Grocery & Veg</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grocery
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Milk</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Beverages</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Rice</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Atta</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Oil</a>


              <a class="dropdown-item" style="color: #fff;" href="#">Dal</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Salt</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Suger</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Masala</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Noodels</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Snacks</a>



              <a class="dropdown-item" style="color: #fff;" href="#">Biscuits</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Dry Fruits</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Pickels</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Dairy</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Stationary</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Veg
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">Potato</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Onion</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Tomato</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Ginger</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Garlic</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Cardimom</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Leafy Veg</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Root Veg</a>
              <a class="dropdown-item" style="color: #fff;" href="#">All Vegetables</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Non Veg
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Eggs</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Fish</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Chicken</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Mutton</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fruits
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Banana</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Orange</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Apple</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Grapes</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Pomegranate</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Water Melons</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Mango</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Naspati</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Papaya</a>

          <a class="dropdown-item" style="color: #fff;" href="#">Avacado</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Coconut</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Dates</a>
          <a class="dropdown-item" style="color: #fff;" href="#">JackFruit</a>
        </div>
          </li>          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>





























  <div class="modal" id="myModalsi">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Electronics Appliences</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electronics
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="#">All Electronic Items</a>
              <a class="dropdown-item" style="color: #fff;" href="#">AC</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Fridge</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Washing Machine</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Microwave</a>


              <a class="dropdown-item" style="color: #fff;" href="#">TV</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Camera</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Speaker</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Headphone</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Home Theater</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Portable Audio</a>



              <a class="dropdown-item" style="color: #fff;" href="#">Heating/ Cooling</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Light</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Fan</a>
             
            </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accessories
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="#">Cases & Covers</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Power Banks</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Screen Guards</a>
          <a class="dropdown-item" style="color: #fff;" href="#">Headphones</a>
        </div>
          </li>   
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>





















  <div class="modal" id="myModalse">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Select Your Location</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <p><b style="text-align: center;">Select Your State</b></p>
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              West Bengal
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p><b style="text-align: center;">Select Your DIstrict</b></p>
              <a class="dropdown-item" style="color: #fff;" href="#">Kolkata</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Siliguri</a>
              <a class="dropdown-item" style="color: #fff;" href="#">24 Paragans North</a>
              <a class="dropdown-item" style="color: #fff;" href="#">24 Paragans South</a>
             
            </div>
          </li>


          <li class="nav-item dropdown">
            <p><b style="text-align: center;">Select Your State</b></p>
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bihar
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p><b style="text-align: center;">Nalanda</b></p>
              <a class="dropdown-item" style="color: #fff;" href="#">Patna</a>
             
            </div>
          </li>  
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>


<section class="slider d-flex align-items-center" style="max-height:80px;">
        <!-- <img src="/assets/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container" >
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    
                                    
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="What are your looking for?" class="btn-group1">
                                        <input type="text" placeholder="District Or Area" class="btn-group2">
                                        
                                        <a href="/welcome/search" class="btn-form">SEARCH<i class="pe-7s-angle-right"></i></a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>What are you finding?</h3>
                    </div>
                </div>

    <section class="section-division mb-1">
    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/events">
          <img src="/assets/events.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/rest">
          <img src="/assets/food.jpg" alt="a" class="img-fluid">
                    </a>
        </div>
      </div>
    </div>

    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/health">
          <img src="/assets/babycare.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/grocery">
          <img src="/assets/grocery.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>


    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/electronics">
          <img src="/assets/electronics.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/search">
          <img src="/assets/favstore.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>



    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/decor">
          <img src="/assets/kitchen.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/repair">
          <img src="/assets/repair.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>




    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/gs">
          <img src="/assets/education.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/fashion">
          <img src="/assets/fashion.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>
    </section>
  </div>



  </body>
</html>

<style>
body {
  position: relative;
  background-color: #f2f2f2;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.blocky {
  background-color: #fff;
  margin-top: 5px;
}

img {
  border-radius: 15px;
}

nav .nav-link {
color: #000;
margin-left: .5rem;
}

nav .fa {
  font-size: 1rem;
  margin-right: 1rem;
}

nav span {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  margin-left: 10px;
}

.section-division {
  margin-top: 2rem;
  position: relative;
}

.section-division a .capta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.img-fluid {

}
.img-fluid:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

</style>
<!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

    <script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
    </script>
</body>

</html>
















<% else %>


































<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Listing &amp; Directory Website Template</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/assets/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/style.css">
</head>

























    <section class="slider d-flex align-items-center">
        <!-- <img src="/assets/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">

<br>
<br>
<br>
<br>
                                    <h1>Discover what's great Near You</h1>
                                    <h5>Let's uncover the best places to eat, drink, and shop nearest to you.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="What are your looking for?" class="btn-group1">
                                        <input type="text" placeholder="District Or Area" class="btn-group2">
                                        
                                        <a href="/welcome/search" class="btn-form">SEARCH<i class="pe-7s-angle-right"></i></a>
                                    </div>
                                </form>
                                <div class="slider-link">
                                    <a href="/welcome/popular">Browse Popular</a><span>or</span> <a href="/welcome/recent">Recently Addred</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= FIND PLACES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>What do you need to find?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/welcome/events">
                    <div class="find-place-img_wrap">
                        <div class="grid">
                            <figure class="effect-ruby">
                                <img src="/assets/find-place1.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                <figcaption>
                                    <h5 style="font-size:30px; font-weight:700;">Entertainment Party Wedding </h5>
                                    
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <a href="/welcome/rest">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place2.jpg" class="img-fluid" alt="img13" />
                                        
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Food Hotel Travel</h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="/welcome/grocery">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place3.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Grocery & Veg </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <a href="/welcome/health">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/babycare.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Health Babycare & Beauty </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/welcome/gs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/education.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Education & Trg </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                            <div class="row">
                <div class="col-md-4">
                    <a href="/welcome/electronics">
                    <div class="find-place-img_wrap">
                        <div class="grid">
                            <figure class="effect-ruby">
                                <img src="/assets/find-place7.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                <figcaption>
                                    <h5 style="font-size:30px; font-weight:700;">Mob Comp & Electronics </h5>
                                    
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <a href="/welcome/fashion">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place6.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Fashion World</h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="/welcome/repair">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/repair.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Home Service & Repair </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <a href="/welcome/hotels">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/favstore.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Fav Stores NearU </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/welcome/decor">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place5.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Furniture Kitchen Stores Home Decor </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
            </div>
        </div>
    </section>




<section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Click to sell or exchange your products</h3>
                        <% if current_user&.shop %>
  <%= link_to 'Manage Shop', current_user.shop, class: "btn btn-danger" %>
<% else %>
                        <a href="/shops/new" class="btn btn-danger">Add Shop</a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>


    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

    <script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
    </script>
</body>
<% end %>
</html>
