<% if mobile_device == "mobile" %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:27px;">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:160px;">
                                        <input type="text" placeholder="District" class="btn-group2"style="width:160px;">
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% else %>
                                <br>
                                 <% end %>

<br>
<div class="center" style="text-align:center;">
  <h3>Food Hotel Travel</h3>
</div>


<div class="container" style="background-color:#fff; text-align:center;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px;">
     <img src="../assets/t2.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Restraunts</b><figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/t1.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Fast Food</b><figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/t3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Lodges</b><figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/t4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Hotels</b><figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/t5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Travel Agents</b><figcaption>
    </div>

  </div>
</div>

