
<div class="center" style="text-align:center;">
  <h3>Fashion World</h3>
</div>

<div class="container" style="background-color:#fff; text-align:center; padding-top: 100px">
  <div class="row">
  	<% @products.each do |product| %>
	    <div class="col-md-3" >
	     <img src="<%= product.image %>" style="height:100px; width:100px;" alt="Park">
	     <figcaption><b><%= product.name %></b><figcaption>
	     <figcaption><%= product.description %><figcaption>
	    </div>
    <% end %>
  </div>
</div>
