<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>We Wil contact you</strong> When your order will be dispatched from our seller.</p>
  <hr>
  <p>
    Having trouble? <a href="/welcome/contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/welcome/home" role="button">Continue to homepage</a>
  </p>
</div>